body {
    font-family:'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--main-gray);
}

h5 {
    display: inline-block;
}

footer {
    background-color: transparent !important;
}

nav {
    background-color: var(--main-gray) !important;
    background-color: transparent !important;
    height: 80px !important;
}

.dark-background {
    background-color: var(--main-gray) !important;
}

.main-gradient {
    flex: 1 0 auto;
    background: rgb(1, 44, 18) !important;
    background: linear-gradient(21deg, rgba(2, 49, 20, 0.829) 27%, rgba(37,38,55,0.9822129535407913) 81%) !important;
}

/*Materialize stuff */

.btn-small {
    background-color: var(--sub-green) !important;
}

.card-panel {
    opacity: 0.5;
}

.brand-logo {
    width: 118px;
    height: 83px;
}